.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
* {
  color: #797979;
  font-size: 1rem;
}

.Outline > * {
  outline: 1px solid black;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

html, body { height: 100% }

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*  */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}




/** float container */
.float-container {
  border: solid 1px #ccc;
  box-sizing: border-box;
  margin-bottom: 8px;
  padding: 0 8px;
  position: relative;
  width: 300px;
} 

/* .orangeSplit {
  background: linear-gradient(290deg, #f59439 50%, #852e2e 50%);} */

  .orangeSplit {
    background: linear-gradient(290deg, #f59439 50%, #ffffff 50%);
  }
  
    .orangeButton {
      /* width: 4rem; */
      padding-left: .7rem;
      padding-right: .7rem;
      height: 1.8rem;
      background-color: #f59439;
      border-radius: 0.25rem;
      color: white
      /* "w-[4rem] h-[1.5rem] bg-slate-200 rounded-md" */
    }
/* .ModInput {  
    border: none;
    font-size: 16px;
    outline: 0;
    padding: 16px 0 10px;    
    width: 100%;
  }

.ModLabel {
    font-size: 12px;
    position: absolute;
    top: -6px;
    left: 10px;
    background: white;
  } */
  


/* Drop */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 10rem;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border: 1px solid black;
  width: 100%;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

/* .dropdown:hover .dropbtn {
  background-color: #3e8e41;
} */

.exportTable {
  border: 1px solid black;
}



/* TABS */
* {
  box-sizing: border-box;
}
body {
  font-family: "Open Sans";
  line-height: 1.618em;
}
.wrapper {
  margin: 0 auto;
}
.tabs {
  position: relative;
  background: #EBE5E0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.tabs::before,
.tabs::after {
  content: "";
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}
.tabs::after {
  clear: both;
}
.tab {
  /* float: left; */
flex-grow: 4;
}
.tab-switch {
  display: none;
}
.tab-label {
  position: relative;
  display: block;
  line-height: 2.75em;
  height: 3em;
  padding: 0 1.618em;
  background: #ffffff;
  border-right: 0.125rem solid #EBE5E0;
  color: #797979;
  cursor: pointer;
  top: 0;
  transition: all 0.25s;
}
.tab-label:hover {
  top: -0.25rem;
  transition: top 0.25s;
}
.tab-content {
  height: 12rem;
  position: absolute;
  top: 2.75em;
  left: 0;
  padding: 1.618rem;
  background: #fff;
  color: #797979;
  border-bottom: 0.25rem solid #bdc3c7;
  opacity: 0;
  transition: all 0.35s;
}
.tab-switch:checked + .tab-label {
  background: #EBE5E0;
  color: #2c3e50;
  border-bottom: 0;
  border-right: 0.125rem solid #fff;
  transition: all 0.35s;
  top: -0.0625rem;
}
.tab-switch:checked + label + .tab-content {
  opacity: 1;
  transition: all 0.35s;
}

tr { font-size: .8rem; width:fit-content;padding-left: .3rem; padding-right: .3rem}

th, td { border: 1px solid black; height: 1.5rem; font-size: .8rem;padding-left: .3rem; padding-right: .3rem }  


@media (max-width: 767px) {
  table { border-collapse: collapse; font-size: .8rem}
  tr { display: block; float: left; font-size: .8rem; width:fit-content;}
  th, td { display: block; border: 1px solid black; height: 1.5rem; font-size: .8rem; padding-left: .3rem; padding-right: .3rem}  
}